# Maven & Build
/target/
/build/
/bin/
/.mvn/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# STS (Spring Tool Suite)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code
.vscode/

# 系統與開發工具
.DS_Store
Thumbs.db
HELP.md

# 敏感設定檔（不應上傳）
src/main/resources/application.properties
src/main/resources/application.yml
src/main/resources/application-local.properties
src/main/resources/hibernate.cfg.xml

#用作於後台api匯入景點
src/main/resources/static/vendors/spot/