<!DOCTYPE html>
<html lang="ZH-Hant" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文章管理 | 後台 | 島遊kha</title>
    <th:block th:replace="~{/navBackTemplate :: headResources}"></th:block>
    <!--後台CSS-->
    <link rel="stylesheet" th:href="@{/css/back_light.css}">
    <link rel="stylesheet" th:href="@{/css/back_style.css}">
    <!--次導覽列CSS-->
<!--    <link rel="stylesheet" th:href="@{/css/subnav.css}">-->

    <style>
        .errorblock {
            /*display: none; !* 預設不顯示 *!*/
            background-color: var(--md-sys-color-error-container);
            color: var(--md-sys-color-on-error-container);
            padding: 10px 14px;
            /*margin: 12px 0;*/
            margin-left: 25px;
            border-radius: 6px;
            border: 1px solid var(--md-sys-color-error);
            font-size: 0.9rem;
            line-height: 1.5;
            /*box-shadow: 0 1px 3px var(--md-sys-color-shadow);*/
            width: fit-content;
            max-width: 50%; /* 不超過容器寬度 */
            white-space: pre-wrap; /* 保留換行 */
            word-break: break-word; /* 長字換行 */
        }


    </style>
</head>
<body class="light">
<div class="app-container">
    <!--前台:側邊攔，通用樣式，不用改-->
    <div th:insert="~{/navBackTemplate :: navbar}"></div>

    <div class="main-content">
        <!--前台:頂部次導覽-->
        <div id="subnav" th:replace="~{subnavContentBack :: subnav(activeItem='articlelist')}"></div>
        <!--main 以下為頁面主要內容 -->
        <main class="content-area-main">
            <h4><span>資料查詢:</span></h4>
            <!-- 錯誤表列 -->
            <div class="errorblock" th:if="${errorMessage}"  th:utext="${errorMessage}">${errorMessage}</div><br>
            <div class="a">
                <ul>
                    <li><h5><a th:href="@{/forum/admin/listAllArticle}">List</a> all Articles. <br><br></h5></li>

                    <li>
                        <form method="post" th:action="@{/forum/admin/getOne_For_Display}">
                            輸入文章編號:
                            <input type="text" name="artId" th:value="${param.artId}" >
                            <input type="submit" value="送出"> (請輸入數字)
                        </form><br>
                    </li>

                    <li>
                        <form method="post" th:action="@{/forum/admin/searchByAuthorId}">
                            輸入會員編號:
                            <input type="text" name="artHol" th:value="${param.artHol}" >
                            <input type="submit" value="送出"> (請輸入數字)
                        </form><br>
                    </li>

                    <li>
                        <form method="post" th:action="@{/forum/admin/searchByCategory}" >
                            <label for="artCat">選擇文章分類：</label>
                            <select name="artCat" id="artCat">
                                <option value="1">文章</option>
                                <option value="2">發問中</option>
                                <option value="3">已解決</option>
                            </select>
                            <input type="submit" value="查詢">
                        </form><br>
                    </li>

                    <li>
                        <form method="post" th:action="@{/forum/admin/searchByStatus}" >
                            <label for="artSta">選擇文章上下架狀態：</label>
                            <select name="artSta" id="artSta">
                                <option value="1">上架</option>
                                <option value="2">下架</option>
                            </select>
                            <input type="submit" value="查詢">
                        </form><br>
                    </li>

                    <li>
                        <form method="post" th:action="@{/forum/admin/searchByTitle}">
                            輸入文章標題關鍵字:
                            <input type="text" name="keyword" th:value="${param.keyword}">
                            <input type="submit" value="搜尋">
                        </form><br>
                    </li>

                    <!-- 複合查詢 -->
                    <li>
                        <form method="post" th:action="@{/forum/admin/searchAdvanced}" th:object="${articleSearchCriteria}">
                            複合查詢:<br>
                            <label>輸入會員編號:</label>
                            <input type="number" th:field="*{artHol}" />
                            <span style="color: var(--md-sys-color-on-error-container)" th:if="${#fields.hasErrors('artHol')}" th:errors="*{artHol}" class="error" id="artHol.errors"></span>


                            <label>輸入文章標題:</label>
                            <input type="text"  th:field="*{artTitle}"><br>

<!--                            <label>選擇文章分類：</label>-->
                            <select th:field="*{artCategory}" >
                                <option value="">選擇文章分類</option>
                                <option value="1">文章</option>
                                <option value="2">發問中</option>
                                <option value="3">已解決</option>
                            </select>
                            <span style="color: var(--md-sys-color-on-error-container)" th:if="${#fields.hasErrors('artCategory')}" th:errors="*{artCategory}" class="error" id="artCategory.errors"></span>


                            <!--                            <label for="artStatus">選擇文章上下架狀態：</label>-->
                            <select th:field="*{artStatus}" >
                                <option value="">選擇文章上下架狀態</option>
                                <option value="1">上架</option>
                                <option value="2">下架</option>
                            </select>
                            <span style="color: var(--md-sys-color-on-error-container)" th:if="${#fields.hasErrors('artStatus')}" th:errors="*{artStatus}" class="error" id="artStatus.errors"></span>


                            <!--                            選擇部門:-->
<!--                            <select th:field="*{deptVO.deptno}">-->
<!--                                <option value="">-->
<!--                                <option th:each="deptVO : ${deptListData}" th:value="${deptVO.deptno}" th:text="${deptVO.dname}" />-->
<!--                            </select><br>-->

                            起始日期:
                            <input th:field="*{startDate}" type="date" />
                            <span style="color: var(--md-sys-color-on-error-container)" th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}" class="error" id="startDate.errors"></span>


                            結束日期:
                            <input th:field="*{endDate}" type="date" />
                            <span style="color: var(--md-sys-color-on-error-container)" th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}" class="error" id="endDate.errors"></span>

                            <input type="submit" value="送出">

                        </form>
                    </li>


                </ul>

                <!--                    //TODO: 後臺管理員會新增文章嗎？-->
                <!--                    <h4><span>文章管理</span></h4>-->
                <!--                    <ul>-->
                <!--                        <li><h5><a href='addAct'>Add</a> a new Article.</h5></li>-->
                <!--                    </ul>-->
            </div>


        </main>
    </div>
</div>

<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<script src="../js/notification/websocket.js"></script>

</body>
</html>