<!-- src/main/resources/templates/fragments/subnavForum.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    
</head>
<body>
<div th:fragment="subnav(activeItem)">
<!--    因為頁籤改版，此網頁廢棄-->
    <header class="secondary-nav">
        <ul>
            <li>
                <!-- th:href=頁面的url mapping，記得要改 -->
                <a th:href="@{/forum/admin/listAllArticle}"
                   th:classappend="${activeItem == 'all' ? 'active' : ''}">文章列表</a>
            </li>
            <li>
                <a th:href="@{/forum/admin}"
                   th:classappend="${activeItem == 'select' ? 'active' : ''}">文章查詢</a>
            </li>
<!--            <li>-->
<!--                <a th:href="@{/article/add}"-->
<!--                   th:classappend="${activeItem == 'add' ? 'active' : ''}">新增文章</a>-->
<!--            </li>-->

        </ul>
    </header>
</div>
</body>
</html>
