<!DOCTYPE html>
<html lang="ZH-Hant" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>討論區 | 前台 | 島遊kha</title>
    <th:block th:fragment="~{/navTemplate :: headResources}">
        <link rel="stylesheet" th:href="@{/css/light.css}">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link rel="stylesheet" th:href="@{/css/forum/forum-index.css}">
        <link rel="stylesheet" th:href="@{/css/forum/category.css}">
        <link rel="stylesheet" th:href="@{/css/forum/subnav.css}">

    </th:block>
</head>

<body class="light">
<div class="app-container">
    <!--前台:側邊攔，通用樣式，不用改-->
    <div th:insert="~{/navTemplate :: navbar}"></div>


    <div class="main-content">
        <header>
            <div th:insert="~{front-end/forum/subnavForum :: topbar}"></div>
        </header>
<!--        <header>-->
<!--            <div th:insert="~{front-end/forum/subnavForum :: topbar}"></div>-->
<!--        </header>-->

<!--        內容區塊-->
        <main class="content-area-main">
            <div class="container">
                <!--            努力跑跑跑！-->
                <div class="article-list" id="articleList">

                    <!-- 文章卡片會透過 AJAX 動態插入這裡 -->

                </div>

                <!--載入更多按鈕-->
                <div class="load-more-wrapper" style="text-align: center; margin-top: 20px;">
                    <button id="loadMoreBtn" class="material-button" style="margin: 0 auto;">載入更多</button>
                </div>
            </div>


        </main>
    </div>

</div>

<script th:src="@{/vendors/jquery/jquery-3.7.1.min.js}"></script>
<script th:src="@{/js/forum/forum-index_paged.js}" ></script>

</body>

</html>