<div th:fragment="topbar">
        <nav class="top-bar">
            <div class="top-left">
                <div class="search-container">
                    <form id="search-form" class="subnavForum" action="/forum/searchByTitle" method="get"
                          onsubmit="return this.keyword.value.trim().length > 0;">
                        <input type="text" name="keyword" placeholder="搜尋文章標題..." />
                        <button type="submit" class="icon-button">
                            <span class="material-icons search-icon">search</span>
                        </button>
                    </form>
                    <!--                進階搜尋未實作-->
                    <!--                <button class="icon-button">-->
                    <!--                    <span class="material-icons">menu</span>-->
                    <!--                </button>-->
                </div>
            </div>

            <div class="top-right">
                <button class="icon-button" onclick="location.href='/forum/article/add'"><span class="material-icons" >add</span></button>
                <button class="icon-button"><span class="material-icons">redeem</span></button>
                <button class="icon-button"><span class="material-icons">favorite</span></button>
                <button class="icon-button" onclick="window.location.href='/forum/members/articles'">
                    <span class="material-icons">description</span>
                </button>
                <button class="icon-button"><span class="material-icons">account_circle</span></button>
            </div>
        </nav>

</div>