<!DOCTYPE html>
<html lang="ZH-Hant" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>島遊Kha後台管理</title>
    <th:block th:fragment="headResources">
    	<link rel="icon" type="image/x-icon" th:href="@{/images/logo.png}">
	    <link rel="stylesheet" th:href="@{/css/back_light.css}">
	    <link rel="stylesheet" th:href="@{/css/back_style.css}">
	    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    </th:block>
</head>

<body class="light">
    <div class="app-container">
        <aside th:fragment="navbar" class="left-nav">
            <div class="logo-area">
                <p class="site-name">島遊<span class="site-name2">Kha</span></p>
                <p>後台</p>
            </div>
	            <ul>
	                <li th:classappend="${currentPage == 'accounts' ? 'active' : ''}"><a href="#"><span class="material-icons">manage_accounts</span>人員</a></li>
	                <li th:classappend="${currentPage == 'content' ? 'active' : ''}" class="has-submenu">
	                	<a th:href="@{/admin/spot/list}"><span class="material-icons">folder</span>內容管理</a>
<!-- 	                	<ul class="submenu"> 保留-->
<!-- 	                		<li><a th:href="@{/admin/spot/list}">景點管理</a></li> -->
<!-- 	                		<li><a th:href="@{/admin/itinerary/list}">行程管理</a></li> -->
<!-- 	                		<li><a th:href="@{/act/admin/listAllAct}">揪團管理</a></li> -->
<!-- 	                		<li><a th:href="@{/forum/admin}">討論區管理</a></li> -->
<!-- 	                	</ul> -->
	                </li>
	                <li th:classappend="${currentPage == 'partner' ? 'active' : ''}"><a th:href="@{/item/listAllItem_admin}"><span class="material-icons">group_work</span>廠商管理</a></li>
	                <li th:classappend="${currentPage == 'notifications' ? 'active' : ''}"><a th:href="@{/notification/unSendNotification}"><span class="material-icons">notifications</span>通知管理</a></li>
	                <li th:classappend="${currentPage == 'report' ? 'active' : ''}"><a th:href="@{/Articlereport/allReportList}"><span class="material-icons">report</span>檢舉管理</a></li>
	                <li th:classappend="${currentPage == 'support_agent' ? 'active' : ''}"><a th:href="@{/report/allReportList}"><span class="material-icons">support_agent</span>異常回報</a></li>
	           
	           		<hr>
	           
					<li>
			            <div class="member-info-area" th:if="${session.admin != null}">
			                <span class="member-name" th:text="${session.admin.adminName}"></span>
			            </div>
		            </li>
		            <li>
			            <div class="logout-area" th:if="${session.admin != null}" >
			            		<button class="logout-btn material-button">
			                    	<span class="material-icons">logout</span> 登出
			                	</button>
			            </div>
		            </li>
		       </ul>
		       
		       <script>
		       		const loginBtn = document.getElementsByClassName("logout-btn")[0];
		       		loginBtn.addEventListener("click", function(){
			       		let form = document.createElement("form");
			       		form.method = "post";
			       		form.action = "/admins/logout";
			       		document.body.appendChild(form);
			       		form.submit();
			       		});
		       </script>
		       
            </aside>

        <div class="main-content">
            <header class="secondary-nav">
                <ul>
<!--              放自己的內容 -->
                </ul>
            </header>

            <main class="content-area-main">
<!--              放自己的內容                 -->
            </main>
        </div>
        
    </div>

    <script src="#"></script>

</body>

</html>
