<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    
</head>
<body>
<div th:fragment="subnav(activeItem)">
    <header class="secondary-nav">
        <ul>
            <li>
            	<!-- 行程列表 -->
                <a th:href="@{/admin/itinerary/itnlist}"
                   th:classappend="${activeItem == 'list' ? 'active' : ''}">行程列表</a>
            </li>
            <li>
                <!-- 新增行程 -->
                <a th:href="@{/admin/itinerary/add}"
                   th:classappend="${activeItem == 'add' ? 'active' : ''}">新增行程</a>
            </li>
            <li>
                <!-- 編輯行程 - 只在編輯頁面時顯示 -->
                <a th:href="@{/admin/itinerary/edit}"
                   th:classappend="${activeItem == 'edit' ? 'active' : ''}"
                   th:if="${activeItem == 'edit'}">編輯行程</a>
            </li>
        </ul>
    </header>
</div>
</body>
</html> 