<th:block th:fragment="secNavResources">
<ul>
        <li>
          <a th:href="@{/store/selectPage}"
             th:classappend="${currentPage2=='selectPage'} ? 'active' : ''">
            商家查詢主頁
          </a>
        </li>
        <li>
          <a th:href="@{/store/listAll}"
             th:classappend="${currentPage2=='listAll'} ? 'active' : ''">
            列出所有商家
          </a>
        </li>
        <li>
          <a th:href="@{/store/reviewStore}"
             th:classappend="${currentPage2=='reviewStore'} ? 'active' : ''">
            審核商家
          </a>
        </li>
         <li>
          <a th:href="@{/item/listAllItem_admin}"
             th:classappend="${currentPage2=='allItem'} ? 'active' : ''">
            商品管理
          </a>
        </li>
      </ul>
    </th:block>