<!DOCTYPE html>
<html lang="ZH-Hant" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>查詢通知 | 通知管理 | 後台 | 島遊kha</title>

<th:block th:replace="~{/navBackTemplate :: headResources}"></th:block>
<link rel="stylesheet" th:href="@{/css/notification/notificationBackEndLightBox.css}">
<link rel="stylesheet" th:href="@{/css/vendors/datatables.css}">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/2.0.0/css/select.dataTables.min.css"/>


</head>
<body class="light">

	<div class="app-container">
		<div th:insert="~{/navBackTemplate :: navbar}"></div>
		<div class="main-content">
			<header class="secondary-nav">
				<ul>
					<th:block th:insert="~{/back-end/notification/navBackEndNotification :: secNavResources}"></th:block>
				</ul>
			</header>
			<main class="content-area-main">
				<div class="admin-dashboard-container notification-center-container">
					<h1>查詢通知</h1>

					<div class="admin-notification-form">
						<div class="widget">
							<h2 style="margin-top: 0px; margin-bottom: 20px;">查詢條件</h2>
							<form id="notificationEditForm"
								th:action="@{/notification/doSearchNotification}" method="post">
								<div class="form-actions" style="display: flex; flex-direction: column;">
									<p>會員:</p>
									<button type="button" id="pickMemberBtn" class="material-button" style="margin-bottom: 10px; max-width: 136px">
										點我選取會員
									</button>
									<p id="selectNum"></p>
								</div>
								
								<div class="form-group">
								
									<!-- Lightbox Overlay -->
								    <div id="lightboxOverlay" class="lightbox-overlay"></div>
								
								    <!-- Article Lightbox -->
								    <div id="articleLightBox" class="article-lightbox">
								        <button id="closeLightboxBtn" class="close-button" type="button">&times;</button>
								        <h3>請勾選你需要查詢的會員</h3>
								        <table class="admin-table" id="admin-table-member">
								        	<label class="checkbox-container"> 
								        		<input type="checkbox" class="selectAllMembers"> <span class="checkmark"></span>
												全選會員
											</label>
											<thead>
												<tr>
													<th>勾選</th>
													<th>會員編號</th>
													<th>會員名稱</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="membersVO : ${memList}" class="mem-table-line"
													th:attr="data-memId=${membersVO.memId}">
													<td>
														<label class="checkbox-container"
															th:for="${'memId_' + membersVO.memId}"> <input
															type="checkbox" class="member-checkbox" name="memIds"
															th:value="${membersVO.memId}"
															th:id="${'memId_' + membersVO.memId}"
															th:attr="data-member-id=${membersVO.memId}"> <span
															class="checkmark"></span>
														</label>
													</td>
													<td th:text="${membersVO.memId}"></td>
													<td th:text="${membersVO.memName}"></td>
												</tr>
											</tbody>
										</table>
								        
								    </div>
								
								</div>

								<div class="form-group">
									<label for="notificationTimeStart">通知時間 (開始):</label> <input
										type="datetime-local" id="notificationTimeStart"
										name="notiSendAtStart" >
								</div>

								<div class="form-group">
									<label for="notificationTimeEnd">通知時間 (結束):</label> <input
										type="datetime-local" id="notificationTimeEnd"
										name="notiSendAtEnd" >
								</div>

								<div class="form-group">
									<label for="notificationTitle">通知標題:</label> <input type="text"
										id="notificationTitle" name="notiTitle" placeholder="輸入通知標題"
										>
								</div>

								<div class="form-group full-width">
									<label for="notificationContent">通知內容:</label>
									<textarea id="notificationContent" name="notiCont" rows="4"
										placeholder="輸入通知內容" ></textarea>
								</div>

								<div class="form-group">
									<label for="notificationStatus">通知狀態:</label> <select
										id="notificationStatus" name="notiStatus">
										<option value=""
											th:selected="${param.notiStatus == null or param.notiStatus == ''}">--
											請選擇狀態 --</option>
										<option value="0" >已發送 - 未讀</option>
										<option value="1" >已讀</option>
										<option value="2" >使用者刪除</option>
										<option value="3" >管理員刪除</option>
										<option value="9" >待發送</option>
									</select>
								</div>

								<div class="form-actions">
									<button type="submit" class="material-button">
										<span class="material-icons">search</span> 查詢
									</button>
									<input type="hidden" name="action" value="searchNoti">
								</div>
							</form>
						</div>
					</div>

					<h2 style="margin-top: 40px; margin-bottom: 20px;">查詢結果</h2>
					<table class="admin-table" id="notificationSearchResultsTable">
						<thead>
							<tr>
								<th>通知時間</th>
								<th>會員</th>
								<th>狀態</th>
								<th>標題</th>
								<th>內容</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="notificationVO : ${list}" class="noti-table-line"
								th:attr="data-form-action=@{/notification/noti.do}, data-notiId=${notificationVO.notiId}">
								<td
									th:text="${#dates.format(notificationVO.notiSendAt, 'yyyy-MM-dd HH:mm')}"></td>
								<td th:text="${notificationVO.memId}"></td>
								<td><span th:switch="${notificationVO.notiStatus}">
										<span th:case="0">未讀</span>
										<span th:case="1">已讀</span>
										<span th:case="2">使用者刪除</span>
										<span th:case="3">管理員刪除</span>
										<span th:case="9">待發送</span>
								</span></td>
								<td th:text="${notificationVO.notiTitle}"></td>
								<td th:text="${notificationVO.notiCont}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</main>
		</div>
	</div>
	
	<script src="../js/vendors/jquery-3.7.1.min.js"></script>
	<script src="../vendors/dataTable/datatables.js"></script>
	<script src="../js/notification/searchNotification.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/select/2.0.0/js/dataTables.select.min.js"></script>

</body>
</html>